.App {
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
  background-image: url("../public/assets/background.png");
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.carrousel img{
  border-radius: 20px;
  border-width: 0px;
  border-style: solid;
  height: 100%;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.colForm{
  padding: 50px;
  background: #5ac5bc;
  /* background: rgba(255, 255, 255, 0.2); */
  border-radius: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container-postulations{
  height: 70vh!important;
  width: 70%!important;
  padding: 60px;
  text-align: center!important;
}

.postulations-group{
  width: 80%;
}

.postulation-card{
  padding: 10px;
}
.postulations-image{
  height: 240px;
}

.postulation-body{
  padding: 10px;
}
.login{
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  margin:auto;
} 
.title{
  color:#0194D3;
  margin: 20px;
}

.styleButton  {
  width: 100%;
  background-color : #2B2994
}
.navStyle{
  padding-top : '25px';
  padding-bottom: '26px';
  padding-left : '18px';
  padding-right : '18px';
  box-shadow: '0 8px 20px 0 rgb(0 0 0 / 10%)';
  position: 'fixed';
  color:white;
}
 
.header-button{
  display: block;
  background: rgba(255, 255, 255, 0.2);
  box-sizing:border-box;
  padding: 5px 12px;
  border-radius: 8px; 
  color:whitesmoke;
  text-decoration: none;
}

.page-footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: #2B2994;
  /* position: fixed; */
  font-size: 18px;
  font-weight: normal;
  bottom: 0;
  left: 0;
  width: 100%;
}
.text-footer{
  font-size: 16px;
  line-height: 1.75;
  color: #7e7e7e;
}
.item{
  display: inline-block; 
  box-sizing: border-box;
  text-decoration: none;
}
.im{
  width:150px;
  height:70px
} 
.text-nav{
  color:white;
  text-decoration: none;
  margin: 10px;
}

.cardContainer{
  width: 50%;
  margin: 20px auto;
}

.cardContainer .card {
  margin: 30px auto;
  border-radius: 25px;
}

.imageCard{
  width: 500px;
  height: 258px;
}

.primaryColor{
  color: #2B2994;
}

.primaryColor-bg{
  background-color: #2B2994;
}

.profile-image{
  border-radius: 50%;
}

.whiteColor{
  color: white;
}

.whiteColor-bg{
  background-color: white;
}

.btn-close{
  background-color: #ffffff!important;
}

.transparent-bg{
  background-color: transparent; 
}
.sidebar-user{
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.76) !important;
}

.sidebar-container{
  text-align: center;
}

.col-image{
  width: 200px!important;
  height: 200px;
  border-radius: 50%;
  text-align: center!important; 
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  padding: 0!important;
  margin-bottom: 25px;
}

.profile-image-sidebar{
  margin: 0!important;
  padding: 0!important;
  border-radius: 50%;
  height: 100%;
  width: 200px!important;
}

.user-name-navbar{
  padding: 55px 0px 0px 15px;
}

.user-menu-list{
  margin: 25px 0;
  text-align: left;
}

.user-menu-item{
  margin: 0 10px;
  padding: 15px!important;
  color: #ffffff!important;
  font-weight: bold!important;
  background-color: rgba(0, 0, 0, 0.534)!important;
  /* background-color: rgba(0, 0, 0, 0.438)!important; */
}
.user-menu-item:hover {
  background-color: rgba(180, 179, 179, 0.534)!important;
}
.user-menu-icos{
  margin: 0 10px 0 0px;
}
.errors-form{
  color: rgb(231, 0, 0);
  margin-top: 5px;
  font-size: 12px;
}

.logout-row{
  position: absolute;
  width: 92%;
  margin: 20px;
  bottom: 0;
}