.App {
  text-align: center;
}
body{
  background-image: url("../public/assets/background.png");
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.carrousel img{
  border-radius: 20px;
  border-width: 0px;
  border-style: solid;
  height: 100%;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.colForm{
  padding: 50px;
  background: #5ac5bc;
  /* background: rgba(255, 255, 255, 0.2); */
  border-radius: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login{
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  margin:auto;
} 
.title{
  color:#0e0e0e;
  margin: 20px;
}

.styleButton  {
  width: 100%;
  background-color : #2B2994
}
.navStyle{
  padding-top : '25px';
  padding-bottom: '26px';
  padding-left : '18px';
  padding-right : '18px';
  box-shadow: '0 8px 20px 0 rgb(0 0 0 / 10%)';
  position: 'fixed';
  color:white;
}
 
.header-button{
  display: block;
  background: rgba(255, 255, 255, 0.2);
  box-sizing:border-box;
  padding: 5px 12px;
  border-radius: 8px; 
  color:whitesmoke;
  text-decoration: none;
}

.page-footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: #2B2994;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
}
.text-footer{
  font-size: 16px;
  line-height: 1.75;
  color: #7e7e7e;
}
.item{
  display: inline-block; 
  box-sizing: border-box;
  text-decoration: none;
}
.im{
  width:150px;
  height:70px
}
a.nav-link{
  color:white;
}